{% extends 'base.html.twig' %}

{% block title %}Modifier les informations{% endblock %}

{% block body %}
<h1>Modifier les informations</h1>

{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.bio) }}
    {{ form_row(form.plainPassword) }}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}

{% endblock %}
