{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<h1>Inscription</h1>

{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.bio) }}
{{ form_end(form) }}

<p>Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous</a></p>
{% endblock %}